---
---

<div class="c--component-a">
  <div class="c--component-a__box c--component-a__box--green-light">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--green-dark">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--blue c--component-a-box-align-base">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--yellow">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--pink">
    <div class="c--component-a__text">This is a text</div>
  </div>
</div>
