---
---

<div class="c--component-a" role="group" aria-label="Colored text boxes display">
  <div class="c--component-a__box c--component-a__box--green-light" role="article" tabindex="0">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--green-dark" tabindex="0">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--blue c--component-a-box-align-base" tabindex="0">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--yellow" tabindex="0">
    <div class="c--component-a__text">This is a text</div>
  </div>
  <div class="c--component-a__box c--component-a__box--pink" tabindex="0">
    <div class="c--component-a__text">This is a text</div>
  </div>
</div>
