---
import { Image } from "astro:assets";
import terraLogoGif from "../../assets/terra-logo.gif";
---

<div class="c--component-b" tabindex="0" aria-labelledby="component-b-title">
    <Image class="c--component-b__logo" src={terraLogoGif} alt="Terra company logo" />
    <div class="c--component-b__title-group" role="heading" aria-level="3" id="component-b-title">
        <div class="c--component-b__title c--component-b__title--green" aria-hidden="true">
            <span class="text">hello world</span>
        </div>
        <div class="c--component-b__title c--component-b__title--pink">
            <span class="text">hello world</span>
        </div>
    </div>
</div>
