---
import { Image } from "astro:assets";
import terraLogoGif from "../../assets/terra-logo.gif";
---

<div class="c--component-b" tabindex="0">
    <Image class="c--component-b__logo" src={terraLogoGif} alt="Terra Logo" />
    <div class="c--component-b__title-group">
        <div class="c--component-b__title c--component-b__title--green">
            <span class="text">hello world</span>
        </div>
        <div class="c--component-b__title c--component-b__title--pink">
            <span class="text">hello world</span>
        </div>
    </div>
</div>
