---
import { Image } from 'astro:assets';
import logoRectImg from '../../assets/logo-rectangular.webp';

---
<div class="c--header-a">
    <div class="f--container">
        <div class="f--row">
            <div class="f--col-12">
                <div class="c--header-a__wrapper">
                    <Image src={logoRectImg} alt="A bird." width="229" height="47" loading="eager"/>
                </div>
            </div>
        </div>
    </div>
</div>
