

@use "sass:map";
@use './reset/reset.scss';
@use './terraStyle.scss';

// variables scss, use it always as map.get($color-options, {letter});
$color-a: #0f0f0f;
$color-b: #fefefe;
$color-c: #f7f8f4;

/* Accent Color */
$color-d: #7ce55e;
$color-e: #189b5c;
$color-f: #3d9dd8;
$color-g: #ffb41d;
$color-h: #f96e43;
$color-i: #f78bd8;

$color-options: (
    a: $color-a,
    b: $color-b,
    c: $color-c,
    d: $color-d,
    e: $color-e,
    f: $color-f,
    g: $color-g,
    h: $color-h,
    i: $color-i,
);

$colorbg-options: (
    a: $color-a,
    b: $color-b,
    c: $color-c,
    d: $color-d,
);

// Measure
$measure: 0.5rem; /* 0.5rem = 8px */

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 400;
    font-style: normal;
    font-size: 16px
  
}

html {
    font-size: 16px
}

.f--font-a2{
    font-size:50px;
}

.f--font-b2{
    font-size: 35px;
}

.f--font-c2{
    font-size: 25px;
}




body{
    overflow:scroll!important;
    @extend .roboto;
    color:map.get($color-options, a);
    line-height: 1.4;;
}

.c--preloader-a{
    background-color: map.get($color-options, b);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: opacity 0.5s;
}

.c--preloader-a.is-hidden {
    opacity: 0 !important;
    pointer-events: none;
}


.c--header-a{
    position: fixed;
    top: $measure*2;
    left: 0;
    width: 100%;
    z-index: 20;
    &__wrapper{
        background-color: map.get($color-options, b);
        text-align: center;
        border-radius: 8px;
        padding:$measure*2 $measure*4;
    }
}

.c--page-a{
    position:relative;
    &__ft-items{
        position: relative;
        z-index: 10;
    }
    &__bg-items{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
}

.c--hero-a{
    background-color: map.get($color-options, e);
    height:60vh;
    display: flex;
    width:100%;
    align-items: center;
    &__title{
        @extend .f--font-a2;
        text-align: center;
        color: map.get($color-options, b);
    }
}


.c--accordion-a{
    &__item{
        &__hd{
            padding:$measure*2 0;
            color: map.get($color-options, a);
            border-bottom:1px solid #fff;
            display: block;
            width:100%;
            text-align: left;
            position:relative;
            @extend .f--font-c;
            &__artwork{
                position:absolute;
                right:0;
                top:0;
                transform: translateY(25px) scale(1.8) rotate(0deg);
                pointer-events: none;
                transition: transform 0.3s;
      }
        }
    } 
}

.c--accordion-a__item__hd--is-active .c--accordion-a__item__hd__artwork {
    transform: translateY(25px) scale(1.8) rotate(180deg);
}


.c--btn-a{
    display: inline-block;
    background-color: map.get($color-options, d);
    color: map.get($color-options, b);
    padding: $measure*2 $measure*4;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover{
        border-radius: 10px;
        background-color: rgba(map.get($color-options, d), 0.8);
    }
}

.c--lottie-a{
    height:300px;
    width: 100%;
}

.c--component-b {
    position: relative;
    width: 100%;
    aspect-ratio: 584/311;
    max-width: 584px;
    border-radius: clamp(8px, 4vw, 24px);
    background: #0F0F0F;
    overflow: hidden;
    box-shadow: 0 0.7vw 3vw rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: clamp(8px, 4vw, 24px);
    font-size: clamp(12px, 4vw, 24px);
    margin: 0 auto;
}

.c--component-b__logo {
    aspect-ratio: 165/48.18;
    width: calc(100% * 165 / 522);
    max-width: 165px;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: 0;
}

.c--component-b__title-group {
    position: absolute;
    width: clamp(1px, 80%, 389px);
    height: clamp(1px, 15%, 80px);
    bottom: clamp(1px, 4vw, 24px);
    left: clamp(1px, 4vw, 24px);
    margin-bottom: clamp(1px, 4vw, 25.36px);
}

.c--component-b__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1px, 11.7vw, 80px);
    line-height: 100%;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    letter-spacing: 0;
    text-align: left;
    white-space: nowrap;
}

.c--component-b__title--pink {
    overflow: hidden;
    height: clamp(1px, 6.8vw, 47px);
    color: #F58DD7;
    user-select: none;
}

.c--component-b__title--green {
    overflow: hidden;
    height: auto;
    color: #2d9f66;
}


.c--index-section {
    @extend .u--pt-10;
    @extend .u--pb-15;
    @extend .u--pt-tabletm-8;
    @extend .u--pt-tablets-7;
    @extend .u--pb-tablets-10;
    @extend .u--pt-mobile-4;
    @extend .u--pb-mobile-5;
}