---
import PreloaderA from "@components/preload/PreloaderA.astro";
import HeaderA from "@components/header/HeaderA.astro";
import "@scss/style.scss";
import "@scss/terraStyle.scss";
---
<script>
	import Project from "@js/Project.js";
	new Project()
</script>
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Terra Frontend Trial</title>
		<meta name="description" content="A comprehensive frontend development trial showcasing HTML, SCSS, and JavaScript skills in a modern accessible web application.">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<PreloaderA />
		<HeaderA/>
		
		<main class="c--page-a" id="main-content" role="main">
			<div class="c--page-a__ft-items">
				<slot />
			</div>
				
		</main>
		
	</body>
</html>


